.status{
    display: flex;
    height: 8px;
    margin: 25px;
}
.status > div {
    border: solid grey thin;
    flex-wrap: nowrap;
    flex: 1;
    background-color: lightgray;
    margin: 1px;
    box-shadow: 2px 2px 2px grey;
}

.status > div.highlight{
    background-color: greenyellow;
}