.status {
    display: flex;
    min-height: 8px;
    margin: 25px;
}
    .status > div {
        transition: all 0.5s ease;
        border: solid grey thin;
        flex-wrap: nowrap;
        flex: 1;
        background-color: lightgray;
        margin: 1px;
        box-shadow: 2px 2px 2px grey;
    }

        .status > div.highlight {
            background-color: greenyellow;
        }

.userName {
    display: none;
    text-align: center;
    margin: 2px;
    font-weight: bold;
}

.status:hover .userName {
    display: block;
}