* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top div {
  padding: 5px 5px 5px 0;
}

.top div button,
label {
  margin-left: 5px;
}

button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 35px;
  text-align: center;
  border: none;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  background-color: #25aae1;
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

button:hover {
  background-color: #2528e1;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 68, 68);
}

.bottom-panel {
  background: #999;
  text-align: center;
  box-shadow: inset 0 8px 30px black;
  overflow: auto;
  white-space: nowrap;
}

@media all and (min-width: 960px) {
  .card {
    font-size: 28pt;
  }

  .card>span.badge {
    font-size: 20pt;
    background: green;
    border: thin black solid;
    text-shadow: 1px 1px 5px black;
  }

  .large {
    font-size: 56pt;
  }
}

@media all and (max-width: 960px) {
  .text-right-sm {
    text-align: right;
  }

  .card {
    font-size: 24pt;
  }

  .card>span.badge {
    font-size: 16pt;
    background: green;
    border: thin black solid;
    text-shadow: 1px 1px 5px black;
  }

  .large {
    font-size: 28pt;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  position: relative;
  border: thin solid black;
  width: 1.65em;
  height: 2.3em;
  margin: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px 5px grey;
  background-color: ghostwhite;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color .25s, transform .25s;
}

.card>span {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.selectable {
  cursor: pointer;
}

.cardSelected {
  background-color: lightgray;
  transform: translateY(3px);
  transition: background-color .25s, transform .25s;
}

.status {
  display: flex;
  min-height: 8px;
  margin: 25px;
}

.status>div {
  transition: all 0.5s ease;
  border: solid grey thin;
  flex-wrap: nowrap;
  flex: 1;
  background-color: lightgray;
  margin: 1px;
  box-shadow: 2px 2px 2px grey;
}

.status>div.highlight {
  background-color: greenyellow;
}

.userName {
  display: none;
  text-align: center;
  margin: 2px;
  font-weight: bold;
}

.status:hover .userName {
  display: block;
}

.player-status-container {
  display: flex;
  justify-content: space-evenly;
}

.player-status-container>div {
  font-size: 24pt;
  font-weight: bold;
  padding: 5px;
  transition: all 0.5s ease;
  border: solid grey thin;
  background-color: lightgray;
  box-shadow: 2px 2px 2px grey;
}

.player-status-bar{
  height: 100%;
}